body {
  background-color: black;
  padding: 30px;
  border-style: double;
  border-color: lavender;
}
p {
  color: white;
  text-align: center;
  font-family: monospace;
  
}

h1 {
  font-weight: bold;
  color: white;
  text-align: center;
  font-family: monospace;
}

h4 {
  font-weight: bold;
  color: white;
  text-align: center;
  font-family: monospace;
}

a {
 text-align: center; 
text-decoration:none;
  font-family: monospace;
  border-color: white;
  border-radius: 8px;
}
ol {
  color: white;
  text-align: center; 
  list-style-position: inside;
  font-family: monospace;
}
li {
  color: white;
  text-align: center; 
  font-family: monospace;
}
.introhead {
  text-align: left;
  border-color: white;
  border: 2px;
  border-style: ridge;
  border-radius: 10px;
  display: inline;
  padding: 3px;
}
.Intro{
  border-color: white;
  border: 2px;
  border-style:ridge;
  border-radius: 10px;
  align-items: left;
  justify-content: left;
  padding:15px;
  display:inline-table
  
}
.introbody {
  text-align: left;
  display: inline;
  padding: 15px;  
}
ul {
  color: white;
  text-align: center; 
  list-style-position: inside;
  font-family: monospace;
}

button{
 border-radius:8px; 
}

